services:
  - type: web
    name: bank-statement-backend
    runtime: docker
    repo: https://github.com/Apex-ace/Bank-statement
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheck:
      path: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
  - type: static_site 
    name: bank-statement-frontend
    repo: https://github.com/Apex-ace/Bank-statement
    plan: free
    rootDir: ./frontend
    routes:
      - type: rewrite
        source: /*
        destination: /index.html