services:
  # -----------------
  # Backend Service
  # -----------------
  - type: web
    name: bank-statement-backend
    runtime: docker
    repo: https://github.com/Apex-ace/Bank-statement
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
    startCommand: "gunicorn -w 4 -t 120 app:app"
      

  # -----------------
  # Frontend Service
  # -----------------
  - type: web
    name: bank-statement-frontend
    runtime: static
    repo: https://github.com/Apex-ace/Bank-statement
    # The folder where your index.html is
    staticPublishPath: frontend  # <-- THIS IS THE FIX
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
