services:
  # -----------------
  # Backend Service
  # -----------------
  - type: web
    name: bank-statement-backend
    runtime: docker
    repo: https://github.com/Apex-ace/Bank-statement
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheck:
      path: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      

  # -----------------
  # Frontend Service
  # -----------------
  - type: web
    name: bank-statement-frontend
    repo: https://github.com/Apex-ace/Bank-statement
    runtime: static
    plan: free
    rootDir: frontend
    buildCommand: ""
    staticPublishPath: .
    envVars:
      - key: SKIP_INSTALL_DEPS
        value: "true"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html