
[phases.setup]
aptPkgs = ["tesseract-ocr", "poppler-utils"]

[phases.build]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:$PORT"